<div class="container color-dark">
    <div class="col">
      <p>Skills</p>
    </div>
  </div>
  
  <div class="container color-light">
    <div class="col">
      <form>
        <input type="text" class="txt" placeholder="Lenguajes" [(ngModel)]="mySkill.lenguajes" name="lenguajes">
        <input type="text" class="txt" placeholder="Tecnologías" [(ngModel)]="mySkill.tecnologias" name="tecnologias">
        <input type="submit" class="btn" [value]="btntxt" (click)="agregarSkill()">
      </form>
    </div>
  
    <div class="col">
      <p class="life-container" *ngFor="let skill of skills">
        <input type="submit" class="btn" value="Editar" (click)="editarSkill(skill)">
        <input type="submit" class="btn" value="Eliminar" (click)="deleteSkill(skill.id)">
        <br>
        <strong>Lenguajes:</strong> {{ skill.lenguajes }} <br>
        <strong>Tecnologías:</strong> {{ skill.tecnologias }}
      </p>
    </div>
  </div>
  
