<h3> <b> admin-Cv App</b></h3>
<nav>
  <ul>
    <li>
      <a routerLink="/header"> Header </a>
    </li>
    <li>
      <a routerLink="/workexperience"> Work-experience </a>
    </li>
    <li>
      <a routerLink="/education"> Education </a>
    </li>
    <li>
      <a routerLink="/certificates"> Certificates </a>
    </li>
    <li>
      <a routerLink="/skills"> Skills </a>
    </li>
    <li>
      <a routerLink="/languages"> Languages </a>
    </li>
    <li>
      <a routerLink="/interests"> Interests </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
